*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';font-size: 22px;
}

nav{
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.navbar-brand{
    font-size: 18px;
    padding: 25px 40px 25px 50px;
}

.nav-link{
    padding: 0 50px;
    margin-right: 30px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
